In [4]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_csv("resultado/resultadoFinal-massaClassificada.csv")
df.head()

,TITLE,category,predicao
0,PROJETO IDADE HIDRAULICA 000 PSI,AIR_COMPRESSORS,RACKS_AND_PINIONS
1,TAPETE CAPACHO 120X60 CHURRASQUEIRA + FRETE GR...,CARPETS,CARPETS
2,CAMISETA RAGLAN CREPÚSCULO JEALOUS BABY K,T_SHIRTS,T_SHIRTS
3,UNIDADE DVD GRAVADOR FEITO PENAS PECAS,DVD_RECORDERS,DVD_RECORDERS
4,FAN LL R320 R420 0HR6C0 4H,DESKTOP_COMPUTER_COOLERS_AND_FANS,DESKTOP_COMPUTER_COOLERS_AND_FANS

In [6]:
df_diferente = df[df.category!= df.predicao]
df_diferente.head(20)

,TITLE,category,predicao
0,PROJETO IDADE HIDRAULICA 000 PSI,AIR_COMPRESSORS,RACKS_AND_PINIONS
48,JUEGOS PISCINA RO BASQUET INFLABLE INTEX PILET...,POOL_INFLATABLES,INFLATABLE_POOLS
49,CHICCO PEZONERAS SKIN TO SKIN LICONA X2,BABY_PACIFIERS,BABY_BOTTLES
87,ADESIVO G GELADEIRA U PAREDE,VINYL_ROLLS,DECORATIVE_VINYLS
120,SUPORTE MOVEL TOALHEIRO QUADRATTO INOX POLIDO ...,TOWEL_HOLDERS,DISHES_RACKS
166,VENDO TORNEARIA PLETA,LATHES,UNIVERSAL_HOME_GYMS
210,MOLDURA QUADRA CAMISAS,PICTURE_FRAMES,FOOTBALL_SHIRTS
220,KIT 10 BATENTE CAPO D20,HOOD_HINGES,AUTOMOTIVE_SHOCK_ABSORBER_BUMP_STOPS
234,TORNEIRA SLIM LINK MESA BANCADA COZINHA U BAN...,KITCHEN_FAUCETS,BATHROOM_FAUCETS
244,BORDADORA CESPED,STRING_TRIMMERS,EMBROIDERY_MACHINES
246,TELA LCD NOTEBOOK HP PAVILION DV2000 DV4 IES #...,LAPTOP_LCD_SCREENS,NOTEBOOKS
255,"JAQUETA COURO NTETICO BORDADO ,PQ .FOTO-7",MOTORCYCLE_JACKETS,JACKETS_AND_COATS
272,KIT CINCA + LUBRIFICANTE + PÉNIS BARBIE,EROTIC_CREAMS,DOLLS
279,2 CARILLAS CARBÓN CTIVO CLEARPROOF® MARY KAY ...,FACE_MASKS,FACIAL_SKIN_CARE_PRODUCTS
281,04 MORTECEDORES + KIT´S PEUGEOT 06/207 MARCO N...,ABS_SENSORS,AUTOMOTIVE_SHOCK_ABSORBERS
283,LIME CRIME VELVETINES TRIO TRUE VE MATE PAZ MA...,LIP_GLOSSES,LIPSTICKS
292,ESCALADORA LMO REPARAR,ELLIPTICAL_MACHINES,STEPPERS
323,PATINS/ ROLER MI NOVO 6/37,ROLLER_SKATES,CELLPHONES
390,MOCHILA BOLSA FEMININA CROCO M COURO LEGÍTIMO ...,BACKPACKS,HANDBAGS
455,MOTHERBOARD TOSHIBA L845 VIDEO DICADO TI 7600 ...,COMPUTER_MOTHERBOARDS,GRAPHICS_CARDS

In [7]:
tamanho_df_diferente= len(df_diferente)
print(tamanho_df_diferente)

44855

In [8]:
df_diferente = df_diferente.sort_values(by='category', ascending=False)
df_diferente.head()

,TITLE,category,predicao
246771,ELÉTRICOS FABRICANTE IOGURTE 1L ÇO INOXIDÁVEL...,YOGURT_MAKERS,DEEP_FRYERS
551906,BATEDOR MILK SHAKE SD 020 0 WATTS 110 VOLTS,YOGURT_MAKERS,MIXERS
789198,BATEDOR MILK SHAKE INDUSTRIAL SKYMSEN TURBO 50...,YOGURT_MAKERS,MIXERS
311175,LIQUIDO GURTERA BATILUX RETRO GUR RICOTA SO PO...,YOGURT_MAKERS,DRINKING_GLASSES
848787,PANO 1.0 L FABRICANTE IOGURTE IOGURTE CASEIRO...,YOGURT_MAKERS,COTTON_CANDY_MACHINES

In [9]:
def quantidaCategoria(dataFrameComCategoria):
    df = pd.DataFrame(columns=['QTD', 'Categoria','PorcentagemTotal','QTD_Massa_Teste', 'Porcentagem_Massa_teste'])
    arrayCategoriaUnica = dataFrameComCategoria.category.unique()
    for x in (arrayCategoriaUnica):  
       DataCountCategoria = dataFrameComCategoria[dataFrameComCategoria.category.str.contains(x)]
       qtdCategoria = DataCountCategoria.category.count()
       df = df.append({'QTD':qtdCategoria ,'Categoria' :x,'PorcentagemTotal':(qtdCategoria*100)/tamanho_df_diferente} , ignore_index=True) 
    df=df.sort_values(by=['QTD'])
    return df

df_quantidade = quantidaCategoria(df_diferente)
df_quantidade.head()

,QTD,Categoria,PorcentagemTotal,QTD_Massa_Teste,Porcentagem_Massa_teste
716,1,HOSE_CLAMP_PLIERS,0.002229,NaN,NaN
808,1,FUEL_LEVEL_FLOATS,0.002229,NaN,NaN
1040,1,CORKSCREWS,0.002229,NaN,NaN
1310,1,AUTOMOTIVE_SHIFT_LEVER_KNOBS,0.002229,NaN,NaN
367,1,PORTABLE_HANGING_SCALES,0.002229,NaN,NaN

In [10]:
df_quantidade=df_quantidade.sort_values(by='QTD', ascending=False)
ax = df_quantidade.plot.bar(x='Categoria', y='QTD', rot=0)

In [11]:
df_quantidade.head(20)

,QTD,Categoria,PorcentagemTotal,QTD_Massa_Teste,Porcentagem_Massa_teste
1178,876,CAMERAS,1.952960,NaN,NaN
1209,770,BOOKS,1.716643,NaN,NaN
192,639,SURVEILLANCE_CAMERAS,1.424590,NaN,NaN
1382,553,ACTION_FIGURES,1.232861,NaN,NaN
278,503,SHAVING_MACHINES,1.121391,NaN,NaN
317,347,RUM,0.773604,NaN,NaN
276,346,SHIRTS,0.771374,NaN,NaN
105,342,TURNTABLES,0.762457,NaN,NaN
416,319,PENS,0.711180,NaN,NaN
610,286,LEGGINGS,0.637610,NaN,NaN
1213,276,BODY_SKIN_CARE_PRODUCTS,0.615316,NaN,NaN
1119,264,CEILING_LIGHTS,0.588563,NaN,NaN
605,264,LIGHT_BULBS,0.588563,NaN,NaN
762,262,HAIR_CLIPPERS,0.584104,NaN,NaN
1221,255,BLENDERS,0.568498,NaN,NaN
94,255,ULTRABOOKS,0.568498,NaN,NaN
327,255,RINGS,0.568498,NaN,NaN
968,253,DJ_TURNTABLES,0.564040,NaN,NaN
1066,250,COMICS,0.557351,NaN,NaN
1295,247,AV_RECEIVERS,0.550663,NaN,NaN

In [12]:
len(df_quantidade)

1392

In [13]:
df_treino = pd.read_csv("limpoNaoClassificado_java.csv", sep="__label__",engine='python',header=1,names=["TITLE", "Categoria"])
df_treino.head()

                                               TITLE              Categoria
0                     PLACA  SONIDO   BEHRINGER C22             SOUND_CARDS
1                     MAQUINA  VAR CTROLUX 12 KILOS        WASHING_MACHINES
2  PAR DISCO  FREIO DIANT VENT GOL 8V 08  FREMAX ...    VEHICLE_BRAKE_DISCS
3  FLASHES LED PESTAÑAS LUMINOSO FALSO PESTAÑAS  ...        FALSE_EYELASHES
4         4 MICROASPERSOR RIGAÇÃO ULTRA 7,20 METROS   IRRIGATION_SPRINKLERS

In [21]:
def quantidaCategoria(dataTesteCompleto,df_quantidade):
    arrayCategoriaUnica = df_quantidade.Categoria.unique()   
    for x in (arrayCategoriaUnica):  
       DataCountCategoria = dataTesteCompleto[dataTesteCompleto.Categoria.str.contains(x)]
       qtdCategoria = DataCountCategoria.Categoria.count()
       df_quantidade.loc[df_quantidade.Categoria.str.contains(x),'QTD_Massa_Teste']=qtdCategoria 
       df_quantidade.loc[df_quantidade.Categoria.str.contains(x),'Porcentagem_Massa_teste']=(qtdCategoria*100)/len(dataTesteCompleto)  
    return df_quantidade


df_quantidade_treino = quantidaCategoria(df_treino,df_quantidade)

In [22]:
len(df_quantidade_treino)

1392

In [23]:
df_quantidade_treino =df_quantidade_treino .sort_values(by='QTD', ascending=False)
df_quantidade_treino.head()

,QTD,Categoria,PorcentagemTotal,QTD_Massa_Teste,Porcentagem_Massa_teste
1178,876,CAMERAS,1.952960,91015.0,0.483718
1209,770,BOOKS,1.716643,90070.0,0.478695
192,639,SURVEILLANCE_CAMERAS,1.424590,17427.0,0.092619
1382,553,ACTION_FIGURES,1.232861,19812.0,0.105295
278,503,SHAVING_MACHINES,1.121391,17656.0,0.093836

In [24]:
df_quantidade_treino.to_csv ('frameVerificacao.csv', index = None, header=True,sep=",")